.container{
    display: grid;
    width: 98.7vw;
    min-height: 100vh;
    grid-template-columns: 0.5fr 2fr 2fr 2fr 2fr;
    grid-template-rows:1fr 2fr 1fr;

    grid-template-areas:
    "nav header header header"
    "nav main main sidebar"
    "nav footer footer footer";
}

header{
    grid-area:header;
    background-color:blueviolet;
}
main{
    grid-area: main;
    background-color:#a3091e;
}
aside{
    grid-area: sidebar;
    background-color:aquamarine;
}
footer{
    grid-area: footer;
    background-color: yellowgreen;
}
nav{
    grid-area: nav;
    background-color: orange;
    border: 2px dashed black;
}