*{
    margin: 0; padding: 0; box-sizing: border-box;
}

html, body { height: 100%; }

.container{
    display: grid;
    width: 100vw;
    min-height: 100vh;
    grid-template-columns: 0.5fr 3fr 2fr 1.5fr 1fr; 
    grid-auto-rows:minmax(100px,auto);

    grid-template-areas:
    "nav header header header header"
    "nav main main sidebar ."
    "nav footer footer footer footer";
}

.doggotext{
    font-size: 50px;
    text-align: center;
    vertical-align: bottom;
}

.doritostext{
    font-size: 100px;
    text-align: center;
    
}

header{
    grid-area:header;
    background-color:blueviolet;
    border: 3px solid black;
    margin: 2px;
    margin-top: 5px;
    align-content: center;
}
main{
    grid-area: main;
    background-color:#a3091e;
    border: 3px solid black;
    margin: 2px;
}
aside{
    grid-area: sidebar;
    background-color:aquamarine;
    border: 3px solid black;
    margin: 2px;
}
footer{
    grid-area: footer;
    background-color: yellowgreen;
    border: 3px solid black;
    margin: 2px;
}
nav{
    grid-area: nav;
    background-color: orange;
    border: 2px dashed black;
    margin: 2px;
    margin-top: 5px;
}
